MONGODB_URI="mongodb+srv://<PersonalWebAdmin>:<PersonalWeb1453>@cluster0.tdf31pt.mongodb.net/"
MONGODB_DB_NAME="mansur_platform"

JWT_SECRET="change_this_with_long_random_secret"

SEED_ADMIN_EMAIL="mansurkvk000@gmail.com"
SEED_ADMIN_USERNAME="mansurkvk"
SEED_ADMIN_DISPLAY_NAME="Muhammed Mansur Kavak"
SEED_ADMIN_PASSWORD="Mansur1453"

ESP32_DEVICE_KEY="change_this_device_key"
CRON_SECRET="change_this_cron_secret"

RESEND_API_KEY=""
RESEND_FROM_EMAIL="Mansur Kavak Engineering Lab <noreply@example.com>"

NEXT_PUBLIC_SITE_URL="http://localhost:3000"
